<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
</head>
<body>
	<%= title %>
	<form action="/login" method="post">
		<input type="text" name="email" placeholder="email address">
		<input type="password" name="password" placeholder="password">
		<button>Submit</button>
	</form>
</body>
</html>