<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>Welcome to Direct-Chat</h1>
			
			<p>Direct chat is a chat application that allows users to see what the other person is typing as they are typing it.
			Once you sign up, you can add friends by the email address used when signing up.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<a ui-sref="login">Login</a><br>
	    	<a ui-sref="signup">SignUp</a>	    			
		</div>
	</div>
</div>