<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			Welcome to Direct-Chat
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<a ui-sref="login">Login</a>
	    	<a ui-sref="signup">SignUp</a>	    			
		</div>
	</div>
</div>