<div>
	<form ng-submit="login()">
		<input type="text" placeholder="email address" ng-model="person.email" autofocus>
		<input type="password" placeholder="password" ng-model="person.password">
		<button>Submit</button>
	</form>
</div>