<div class='container'>
	<div class="row">
		<div class="col-xs-12 text-center">
			<div>Login</div>
			<form ng-submit="login()">
				<input type="text" placeholder="email address" ng-model="person.email" autofocus> <br/>
				<input type="password" placeholder="password" ng-model="person.password"> <br/>
				<button>Submit</button>
			</form>
		</div>
	</div>
</div>